* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

.cor-primaria{
    background-color: #143c6c;
}

.cor-secundaria{
    background-color: #f4bc14;
}


.menu a {
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-flex;
    transition: background .5s;
}

.menu a:hover {
    border-radius: 5px;
    background-color: #f4bc14;
}

#alteraCor {
    float: right;
}

.time {
    width: 50vw;
    background-color: #143c6c;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

header{
    color: black;
}

textarea {
    border: 5px solid #f4bc14;
    border-radius: 5px;
}


button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

section {
    margin-top: 60px;
    min-height: 95vh;
}

#inicio {
    min-height: 50vh;
}

th, td {
    padding: 10px;
    border-radius: 10px;
    border-spacing: 0px 0px px 9px;
    background-color: #f4bc14;

}